<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:property name="mesh_path" value="file://$(find rover_description)/meshes/dae"/>

  <xacro:macro name="base">

    <link name="base_footprint"/>

      <joint name="base_footprint_joint" type="fixed">
        <child link="base_link"/>
        <parent link="base_footprint"/>
        <origin xyz="0 0 1.83" rpy="0 0 0"/>
      </joint>
    
    <link name="base_link">
      <inertial>
        <origin rpy="0 0 0" xyz="0.00325 -0.00200 0.00561"/>
        <mass value="500.0"/>
        <inertia ixx="12.5" ixy="0.0" ixz="0.0" iyy="45.8" iyz="0.0" izz="45.8"/>
      </inertial>

      <collision name="base_collision">
        <origin rpy="0 0 0" xyz="0.00325 -0.00200 0.00561"/>
        <geometry>
          <box size="3.00000 1.00000 1.00000"/>
        </geometry>
      </collision>

      <visual name="base">
        <material name="Material.006"/>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <box size="3.00000 1.00000 1.00000"/>
        </geometry>
      </visual>
    </link>

    <link name="dejar_cosas_link">
      <inertial>
        <mass value="2.0"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="0.2" ixy="0" ixz="0" iyy="0.2" iyz="0" izz="0.2"/>
      </inertial>

      <collision>
        <origin xyz="0 0.45 0" rpy="0 0 0"/>
        <geometry><box size="2.0 0.1 0.65"/></geometry>
      </collision>

      <collision>
        <origin xyz="0 -0.45 0" rpy="0 0 0"/>
        <geometry><box size="2.0 0.1 0.65"/></geometry>
      </collision>

      <collision>
        <origin xyz="0.95 0 0" rpy="0 0 0"/>
        <geometry><box size="0.1 1.0 0.65"/></geometry>
      </collision>

      <collision>
        <origin xyz="-0.95 0 0" rpy="0 0 0"/>
        <geometry><box size="0.1 1.0 0.65"/></geometry>
      </collision>

      <visual name="dejar_cosas">
        <material name="Material.008"/>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="${mesh_path}/Cube.009.dae" scale="1.00000 0.05000 0.32500"/>
        </geometry>
      </visual>
    </link>

    <joint name="dejar_cosas_link_joint" type="fixed">
      <origin rpy="0 0 0" xyz="-0.49808 -0.00282 0.77800"/>
      <parent link="base_link"/>
      <child link="dejar_cosas_link"/>
    </joint>

  </xacro:macro>

</robot>